{% extends "layout.html" %}
{% block title%}Slider: {{name}}{% endblock %}
{% block content %}

{% if dirs %}
<ul>
  {% for dirname, url in dirs %}
  <li><a href="{{url}}">{{dirname}}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if files %}
<table>
    <tr><th>Name</th><th>Slides</th><th>Notes</th></tr>
  {% for finfo in files %}
  <tr>
    <td><a href="{{finfo.view_url}}">{{finfo.name}}</a></td>
    {% if finfo.render_name %}
    <td><a href="{{finfo.slide_url}}">{{finfo.render_name}}</a>
    </td>
    <td><a href="{{finfo.note_url}}">{{finfo.render_name}}</a></td>
    <td><a href="{{finfo.note_url}}&attachment=file">File</a></td>
    {% else %}
    <td></td>
    <td></td>
    <td></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endif %}

{%- endblock %}
